html{
    scroll-behavior: smooth;
}

body{
    animation: scale-an 1s ease-in-out;
}
@keyframes scale-an {
    0%{
        opacity: 0;
        transform: scale(1.5);
    }
    50%{
        opacity: .5;
        transform: scale(.8);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
}

nav{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}

article{
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
}
footer{
    z-index: -220 !important;
    padding-top: 40px !important;
    margin-top: -20px;
}

.btn-contact{
    width: 18em;
    text-align: left !important;
    margin-top: 12px;
}

.bg-light-transparent{
    background-color: #fefefeaa;
    backdrop-filter: blur(7px);
}

footer{
    padding-top: 1em;
    padding-bottom: 1.2em;
    background-color: #dddddf;
}